.containerInputsAgenda {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.contentInputsAgenda {
  border-radius: 10px;
  width: 90%;
  margin-top: 40px;
  padding: 16px;
  background-color: rgb(233, 233, 233);
  height: auto;
  border-left: 5px solid rgb(101, 167, 70);
}

.inputGroupAgenda {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}

@media screen and (max-width: 750px) {
  .contentInputsAgenda {
    width: 80%;
  }
}
