.containerGeralSuporte {
  width: 100%;
  height: 90vh;
}

.containerSuporte {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.containerSeachCliente {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dadosCliente {
  width: 90%;
}

.dadosTabela {
  margin-top: 20px;
}
